/*--------------------*/
@font-face {
    font-family: "ArialNarrowBold";
    src: url("");
    src: url("")format("embedded-opentype"),
    url("") format("woff"),
    url("") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*--------------------*/
.l-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .3);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility .5s ease-out, opacity .5s ease-out; 
    transition: visibility .5s ease-out, opacity .5s ease-out; 
}
    /*----------------*/
    .l-sidebar_open {
        visibility: visible;
        opacity: 1;
        -webkit-transition: visibility .5s ease-out, opacity .5s ease-out; 
        transition: visibility .5s ease-out, opacity .5s ease-out; 
    }
/*--------------------*/
.l-sidebar_inner {
    padding: 20px;
    position: absolute;
    top: 0;
    left: -500px;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch;
    width: 100%;
    max-width: 375px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    background-color: #fff; 
    z-index: 1000;
    opacity: 0;
    -webkit-transition: left 0.5s ease-out, opacity 0.5s ease-out; 
    transition: left 0.5s ease-out, opacity 0.5s ease-out; 
}
.l-sidebar_inner .sidebar__close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    cursor: pointer;
}
.l-sidebar_inner .sidebar__item {
    padding-bottom: 25px;
}
.l-sidebar_inner .sidebar__item_inline {
    margin-right: -.275em;
    display: inline-block;
    vertical-align: middle;
}
.l-sidebar_inner .sidebar__phone {
    width: 70%;
}
.l-sidebar_inner .sidebar__social {
    width: 30%;
}
    /*----------------*/
    .l-sidebar_inner_open {
        left: 0;
        opacity: 1;
        -webkit-transition: left 0.5s ease-out, opacity 0.5s ease-out; 
        transition: left 0.5s ease-out, opacity 0.5s ease-out; 
    }
/*--------------------*/
.b-sandwich img {
    vertical-align: middle;
    cursor: pointer;
    padding: 15px 20px;
}
/*--------------------*/
.b-head-slogan {
    padding: 20px;
    border-left: 1px solid #eee;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 18px;
    color: #0a0a0a;
}
/*--------------------*/
.b-head-time {
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    color: #e92d1a;
    line-height: 1.2;
}
.b-head-time img {
    vertical-align: middle;
    padding-right: 5px;
}
/*--------------------*/
.b-head-phone {
    text-align: right;
    font-size: 26px;
    font-weight: bold;
    color: #292929;
    line-height: 1.2;
}
.b-head-phone a:link,
.b-head-phone a:visited,
.b-head-phone a:active,
.b-head-phone a:hover {
    text-decoration: none;
    color: #292929;
}
/*--------------------*/
.b-head-adress {
    text-align: right;
    font-size: 16px;
    line-height: 1.2;
}
/*--------------------*/
.b-head-btn a:link,
.b-head-btn a:visited {
    display: inline-block;
    padding: 15px 25px;
    border: 2px solid #e92d1a;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #292929;
}
.b-head-btn a:active,
.b-head-btn a:hover {
    background-color: #e92d1a;
    text-decoration: none;
    color: #fff;
}
/*--------------------*/
.b-head-vk {
    border: solid #e8e8e8;
    border-width: 0 1px;
    text-align: center;
}
.b-head-vk img {
    padding: 10px;
    vertical-align: middle;
}
/*--------------------*/
.b-head-link {
    text-align: right;
    line-height: 1.2;
    font-size: 16px;
}
.b-head-link a:link,
.b-head-link a:visited {
    text-decoration: underline;
}
.b-head-link a:hover,
.b-head-link a:active {
    text-decoration: none;
}
/*--------------------*/
.b-menu-side {
    padding-bottom: 20px;
    overflow: hidden;
    -webkit-transition: heihgt .5s ease-out; 
    transition: height .5s ease-out; 
}
.b-menu-side ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.b-menu-side ul li {
    margin: 0;
    padding: 0;
}
.b-menu-side a:link,
.b-menu-side a:visited  {
    padding: 15px;
    border-bottom: 1px solid #e2e2e2;
    display: block;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
.b-menu-side a:active,
.b-menu-side a:hover {
    text-decoration: none;
}
.b-menu-side .menu-side__item {}
.b-menu-side .menu-side__haschild {
    background: url("sidemenu-arr.png") 95% 50% no-repeat;
}
.b-menu-side .menu-side__item_back {
    background: url("sidemenu-l-arr.png") 0 50% no-repeat;
}
.b-menu-side .menu-side__item_back a:link,
.b-menu-side .menu-side__item_back a:visited {
    padding-left: 25px;
    font-size: 12px;
}
.b-menu-side .menu-side__item_first {}
.b-menu-side .menu-side__item_first a:link,
.b-menu-side .menu-side__item_first a:visited {
    background-color: #e71a05;
    font-weight: bold;
    color: #fff;
}
.b-menu-side .menu-side__level1,
.b-menu-side .menu-side__level2,
.b-menu-side .menu-side__level3 {
    width: 100%;
}
.b-menu-side .menu-side__level1 {
    left: 0;
    -webkit-transition: left .5s ease-out; 
    transition: left .5s ease-out; 
}
.b-menu-side .menu-side__level2,
.b-menu-side .menu-side__level3 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 100%;
    top: 0;
    -webkit-transition: opacity .5s ease-out, visibility .5s ease-out; 
    transition: opacity .5s ease-out, visibility .5s ease-out;
}
.b-menu-side .menu-side__level1 .menu-side__active_1 .menu-side__level2,
.b-menu-side .menu-side__level2 .menu-side__active_2 .menu-side__level3  {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .5s ease-out, visibility .5s ease-out; 
    transition: opacity .5s ease-out, visibility .5s ease-out; 
}
/*--------------------*/
.b-slidetext {
    font-size: 60px;
    font-family: "Arial Black", Arial;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    color: #fff;
}
/*--------------------*/
.b-slidebtn {
    padding-top: 40px;
}
.b-slidebtn a:link,
.b-slidebtn a:visited {
    display: inline-block;
    padding: 20px 40px;
    border: 3px solid #e71a05;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.b-slidebtn a:active,
.b-slidebtn a:hover {
    background-color: #e71a05;
    text-decoration: none;
}
/*--------------------*/
.b-textbenefits {
    margin: 0 -3000px;
    padding: 10px 3020px;
    background-color: #eee;
    font-size: 16px;
    line-height: 1.2;
}
.b-textbenefits .textbenefits__items {
    display: table;
    width: 100%;
}
.b-textbenefits .textbenefits__item {
    padding: 0px 50px;
    border-left: 1px solid #d4d4d4;
    display: table-cell;
    vertical-align: middle;
}
.b-textbenefits .textbenefits__item:first-child {
    border-left: 0;
}
.b-textbenefits .textbenefits__item ins {
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
    font-size: 54px;
    font-family: "ArialNarrowBold", sans-serif;
    text-decoration: none;
    color: #b0b0b0;
}
.b-textbenefits .textbenefits__item span {
    display: inline-block;
    vertical-align: middle;
}
/*--------------------*/
.b-benefits {
    margin: 0 -3000px 30px;
    padding: 40px 3000px;
    background-color: #ed1904;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.b-benefits h2 {
    text-align: left;
    color: #fff;
}
.b-benefits .benefits__items {
    margin: 0 -15px;
}
.b-benefits .benefits__item {
    padding: 0 15px;
    margin-right: -.275em;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-benefits .benefits__item img {
    vertical-align: middle;
    padding-bottom: 25px;
    max-width: 100%;
}
.b-benefits .benefits__item span {
    display: block;
    font-style: italic;
    line-height: 1.2;
}
/*--------------------*/
.b-mark {
    padding-top: 50px;
    margin-bottom: 30px;
}
.b-mark .mark__items {
    text-align: center;
    margin: 0 -7px;
} 
.b-mark .mark__item {
    margin-right: -.275em;
    padding: 0 7px 30px;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 11.111%;
}
.b-mark .mark__item span {
    display: block;
}
.b-mark .mark__pic {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    /*height: 109px;*/
    outline: 1px solid #e0e0e0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-mark .mark__pic img {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}
.b-mark .mark__pic img:last-child {
    display: none;
}
.b-mark .mark__item:hover .mark__pic img {
    display: none;
}
.b-mark .mark__item:hover .mark__pic img:last-child {
    display: inline-block;
}
/*--------------------*/
.b-steps {
    padding: 50px 0;
}
.b-steps p {
    margin: 0 0 15px;
    font-style: italic;
    line-height: 1.3;
    font-size: 14px;
}
.b-steps .steps__items {
    text-align: center;
    margin: 0 -10px;
}
.b-steps .steps__item {
    margin-right: -.275em;
    padding: 0 10px;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-steps .steps__pic {
    position: relative;
    padding-bottom: 15px;
}
.b-steps .steps__pic:before {
    content: "";
    display: block;
    position: absolute;
    right: 80%;
    top: 35px;
    width: 86px;
    height: 10px;
    background: url("");
}
.b-steps .steps__item:first-child .steps__pic:before {
    display: none;
}
.b-steps .steps__pic img {
    max-width: 100%;
    vertical-align: middle;
}
.b-steps .steps__title {
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
/*--------------------*/
.b-team {
    margin: 0 -3000px;
    padding: 50px 3000px;
    background: url("") 50% 0 no-repeat #383838;
    font-size: 16px;
    color: #c2c2c2;
}
.b-team h2 {
    margin-bottom: 30px;
    color: #fff;
}
.b-team .team__content,
.b-team .team__items {
    margin-right: -.275em;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-team .team__content {
    padding-right: 60px;
    width: 45%;
}
.b-team .team__items {
    width: 55%;
    text-align: center;
}
.b-team .team__item {
    margin-right: -.275em;
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.b-team .team__item img {
    margin-bottom: 20px;
    border-radius: 1000px;
    max-width: 100%;
    vertical-align: middle;
}
.b-team .team__item span {
    display: block;
    font-style: italic;
    color: #fff;
}
.b-team .team__btn {
    padding-top: 30px;
}
.b-team .team__btn a:link,
.b-team .team__btn a:visited {
    display: inline-block;
    padding: 10px 0;
    border: 3px solid #e71a05;
    width: 100%;
    max-width: 290px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.b-team .team__btn a:active,
.b-team .team__btn a:hover {
    background-color: #e71a05;
    text-decoration: none;
}
/*--------------------*/
.b-last-reviews {
    margin: 0 -3000px;
    padding: 50px 3000px;
    background: url("") 50% 0 no-repeat #d7d7d7;
    font-size: 16px;
}
.b-last-reviews .reviews__items {
    position: relative;
}
.b-last-reviews .reviews__item {
    padding: 20px;
    padding-bottom: 20px;
    height: 340px;
    background-color: rgba(255, 255, 255, .85);
}
.b-last-reviews .reviews__date {
    color: #8a8a8a;
}
.b-last-reviews .reviews__name {
    font-style: italic;
    font-size: 16px;
    color: #2c2c2c;
}
/*--------------------*/
.b-promotext {
    margin: 0 -3000px;
    padding: 60px 3000px;
    background: url("") 50% 0 no-repeat #cfcfcf;
    font-size: 16px;
}
.b-promotext p {
    margin-bottom: 25px;
}
/*--------------------*/
.b-form-photo {
    margin: 0 -3000px;
    padding: 0 3000px;
    background: url("") 50% 100% no-repeat #1f1e1d; 
    color: #fff;
}
.b-form-photo h2 {
    color: #fff;
}
.b-form-photo .form-photo__inner {
    margin-left: -50px;
    padding: 50px;
    background-color: rgba(13, 13, 13, .75);
}
.b-form-photo .form-photo__content {
    padding-bottom: 15px;
    line-height: 1.4;
    font-size: 16px;
}
.b-form-photo .form-photo__content h2 {
    line-height: 1.2;
}
/*--------------------*/
.b-form_photo {
    margin: 0 -10px;
    padding: 0;
    border: 0;
    background: none;
}
.b-form_photo ::-webkit-input-placeholder {
    color: #fff;
}
.b-form_photo :-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.b-form_photo ::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.b-form_photo :-ms-input-placeholder {
    color: #fff;
}
.b-form_photo input[type="text"], 
.b-form_photo input[type="password"], 
.b-form_photo textarea, 
.b-form_photo select {
    padding: 15px;
    border-color: #747474;
    background-color: transparent;
    font-size: 16px;
    color: #fff;
}
.b-form_photo textarea {
    resize: none;
}
.b-form_photo [class^="form__col-"] {
    padding: 5px;
}
.b-form_photo .form__btn {
    padding-top: 15px;
    text-align: center;
}
.b-form_photo .form__info {
    color: #fff;
    font-size: 12px;
}
.b-form_photo .form__mark,
.b-form_photo .form__mark2 {
    color: #fff;
}
/*--------------------*/
.b-form_photo .b-btnbox, 
.b-form_photo a.b-btnbox:link, 
.b-form_photo a.b-btnbox:visited {
    padding: 15px;
    border: 3px solid #e71a05;
    background: transparent;
    width: 100%;
    max-width: 295px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-form_photo .b-btnbox:hover, 
.b-form_photo a.b-btnbox:active, 
.b-form_photo a.b-btnbox:hover {
    background: #e71a05;
}
/*--------------------*/
.b-form_main {
    margin: 0 -3000px;
    padding: 40px 3010px;
    border: 0;
    background-color: #d0000d;
    color: #fff;
}
.b-form_main h2 {
    padding-left: 10px;
    color: #fff;
}
.b-form_main ::-webkit-input-placeholder {
    color: #fff;
}
.b-form_main :-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.b-form_main ::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.b-form_main :-ms-input-placeholder {
    color: #fff;
}
.b-form_main input[type="text"], 
.b-form_main input[type="password"], 
.b-form_main textarea, 
.b-form_main select {
    padding: 15px;
    border-color: #fff;
    background-color: transparent;
    font-size: 16px;
    color: #fff;
}
.b-form_main .form__btn {
    text-align: center;
}
/*--------------------*/
.b-form_main .b-btnbox, 
.b-form_main a.b-btnbox:link, 
.b-form_main a.b-btnbox:visited {
    padding: 15px;
    border: 3px solid #fff;
    background: #fff;
    width: 100%;
    max-width: 295px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #0c0c0c;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.b-form_main .b-btnbox:hover, 
.b-form_main a.b-btnbox:active, 
.b-form_main a.b-btnbox:hover {
    background: transparent;
    color: #fff;
}
.b-form_main .form__info {
    color: #fff;
    font-size: 12px;
}
.b-form_main .form__mark,
.b-form_main .form__mark2 {
    color: #fff;
}
/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/
.page-main .column__center-indent {
    padding-left: 70px;
    padding-right: 70px;
}
/*--------------------*/

@media only screen and (min-width: 980px) { /*-DESKTOP-*/
    /*--------------------*/
    .hide-on-desktop {
        display: none !important;
    }
    /*--------------------*/
    .b-promotext {
        /*padding-right: 3430px;*/
    }
    /*--------------------*/
    .b-form-photo {
        padding-right: 3380px;
    }
    /*--------------------*/
    /*--------------------*/
    .page-main .b-form_main {
        padding: 40px 3060px;
    }
    /*--------------------*/
}
/*--------------------*/