@media handheld, only screen and (min-width: 768px) and (max-width: 979px) { /*-TABLET-*/ 
    /*--------------------*/
    .hide-on-tablet {
        display: none !important;
    }
    /*--------------------*/
    .ov-h {
        overflow: hidden;
    }
    /*--------------------*/
    .b-pilot .pilot__2 {
    right: 20px;
    }
    .b-pilot .pilot__3 {
        right: 105px;
    }
    .b-pilot .pilot__5 {
        right: 0;
    }
    /*--------------------*/
    .l-grid .grid__item1 {
        left: 20px;
    }
    .l-grid .grid__item2 {
        right: 20px;
        left: auto;
    }
    .l-grid .grid__item4 {
        padding-right: 20px;
        left: 20px;
        border-right: 1px solid #3e3e3e;
    }
    .l-grid .grid__item5 {
        right: 20px;
    }
    /*--------------------*/
    .b-head-time {
        text-align: left;
    }
    /*--------------------*/
    .b-head-phone {
        text-align: left;
    }
    /*--------------------*/
    .b-head-adress {
        text-align: left;
    }
    /*--------------------*/
    .b-head-vk {
        border-right-width: 0;
    }
    .b-menu-side .b-head-vk {
        text-align: right;
    }
    /*--------------------*/
    .b-category .category__item {
        width: 50%;
    }
    /*--------------------*/
    .b-textbenefits {
        text-align: center;
        font-size: 14px;
    }
    .b-textbenefits .textbenefits__items {
        margin: 0 auto;
    }
    .b-textbenefits .textbenefits__item {
        padding: 15px;
        vertical-align: top;
    }
    .b-textbenefits .textbenefits__item br {
        display: none;
    }
    .b-textbenefits .textbenefits__item ins,
    .b-textbenefits .textbenefits__item span {
        display: block;
    }
    .b-textbenefits .textbenefits__item ins {
        font-size: 48px;
    }
    /*--------------------*/
    .b-benefits h2 {
        text-align: center;
    }
    .b-benefits .benefits__item {
        width: 50%;
        padding-bottom: 30px;
    }
    /*--------------------*/
    .b-steps {
        padding-bottom: 20px;
    }
    .b-steps .steps__item {
        padding-bottom: 30px;
        width: 33.33%;
    }
    /*--------------------*/
    .b-team {
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
    }
    .b-team .team__content,
    .b-team .team__items {
        display: block;
        width: auto;
    }
    .b-team .team__content {
        padding-bottom: 30px;
        padding-right: 0;
    }
    .b-team .team__btn {
        text-align: center;
    }
    /*--------------------*/
    .b-form-photo {
        margin: 0 -20px;
        padding: 0;
    }
    .b-form-photo .form-photo__inner {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0;
    }
    /*--------------------*/
    .b-promotext {
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
    }
    /*--------------------*/
    /*--------------------*/
    /*--------------------*/
    /*--------------------*/
    /*--------------------*/
    .page-main h2 {
        text-align: center;
    }
    /*--------------------*/
    .page-main .column__center-indent {
        padding-left: 20px;
        padding-right: 20px;
    }
    /*--------------------*/
    /*--------------------*/
    .b-repair .repair__item {
        width: 270px;
        height: 200px;
        margin: 10px 5px;
    }
    .b-question .question__number,
    .b-question .question__form,
    .b-question .question__adress {
        padding-left: 10px;
        margin: 0 auto;
        font-size: 14px;
    }
    .b-question .question__number {
        font-size: 22px;
    }
    .b-question .question__number p:before,
    .b-question .question__form p:before,
    .b-question .question__adress p:before {
        display: none;
    }
}
@media handheld, only screen and (min-width: 979px) and (max-width: 1200px) {
    .b-question .question__number,
    .b-question .question__form,
    .b-question .question__adress {
        padding-left: 72px; 
    }
}